
.bgcolorBlue {
    background-color: #0EBFE9 !important;
    height: 100%;
    overflow: hidden;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.header {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px #000;
    height: 75px;
    border-radius: 2px;
}

.wrapper-container {
    min-height: 440px;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 3px 3px 3px #999;
    padding: 1px;
    opacity: 0.8;
    margin: 0;
}

.logo > img {
    width: 80%;
    height: 75px;
    padding: 2px;
}

.jklogo > img {
    width: 90%;
    height: 75px;
    padding: 2px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    text-decoration: none;
    padding: 14.5px 25px;
    font-size: 18px;
    display: inline-block;
}

.borderRed{
    border:1px solid red !important;
}

.logout-panel > img {
    width: 85px;
    height: 45px;
    border-radius: 2.5px;
}

.modal-header .close {
    font-size: 35px !important;
    padding: 5px 20px !important;
    color: black !important;
    opacity: 1 !important;
    background: #0EBFE9 !important;
    border-radius: 4px !important;
}

.hide{
    display:none !important;
}

.common-box {
    height: 520px;
    background: white;
    box-shadow: 0 0 20px #000;
    margin-top: 2.5%;
    border-radius: 2px;
    margin-left: 4%;
    margin-right: 2%;
}

.break-word {
    word-wrap: break-word !important;
}

.breadCrumLink {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.big-font {
    font-size: 20px !important;
}

.big-btn {
    height: 70px !important;
    font-size: 20px !important;
    width:130px !important;
}

.btn-purple, .btn-purple:hover {
    background: #bb8fce;
    border: 1px solid #fff;
    color: #fff;
}

.btn-blue, .btn-blue:hover {
    background-color: #31b0d5;
    border-color: #fff;
    color: #fff;
}

.marginRight15px 
{
    margin-right:15px !important;
}

.marginLeft15px {
    margin-left: 15px !important;
}

table th {
    background-color: #0EBFE9 !important;
    color:#fff;
    font-weight:bold;
}

table td,th
{
    padding:3px !important;
}

#txtbarcode {
    height: 38px !important;
    font-size: 24px !important;
}


#defectModal .modal-dialog {
    width: 95% !important;
    margin-top: 8% !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
}

.activeSubDefectBtn {
    background-color: #fff !important;
    color: #000 !important;
}

#defectModal .modal-header, #defectModal .modal-footer {
    border-bottom: 1px solid silver;
}

.highcharts-credits, .highcharts-title {
    display: none;
}

.highcharts-axis-title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.badge {
    font-size: 28px !important;
    border-radius: 13px !important;
}

.badgeLink {
    text-decoration: none !important;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 3%;
    display:inline-block;
    margin-right: 8px;
    float:right;
}

.cut-text {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.nav-tabs > li > a {
    padding: 15px !important;
    font-size: 20px !important;
}

@media (max-width:500px) {
    .logo > img {
        width: 30%;
    }

    .jklogo > img {
        width: 40%;
    }
}
